In [1]:
import pandas as pd

In [2]:
df_final = pd.read_csv('donnees_combinees.csv')
df = pd.read_csv('donnees_combinees.csv')
df.head()

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
0,BMW,Actifs_BMW,Group,2021,12980.0,22390.0,44700.0,5112.0,1241.0,51712.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,Actifs_BMW,Group,2020,12342.0,21850.0,41995.0,3585.0,735.0,48025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,Actifs_BMW,Group,2019,11729.0,23245.0,42609.0,3199.0,703.0,51030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMW,Actifs_BMW,Group,2018,10971.0,19801.0,38572.0,2624.0,739.0,48109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW,Actifs_BMW,Group,2017,9464.0,18471.0,36257.0,2769.0,690.0,48321.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['Type']= df['Type'].str.upper()
df = df[df['Type'] == 'GROUP']
df =df[df['Annee'].between(2016,2021)]
df

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
0,BMW,Actifs_BMW,GROUP,2021,12980.0,22390.0,44700.0,5112.0,1241.0,51712.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,Actifs_BMW,GROUP,2020,12342.0,21850.0,41995.0,3585.0,735.0,48025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,Actifs_BMW,GROUP,2019,11729.0,23245.0,42609.0,3199.0,703.0,51030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMW,Actifs_BMW,GROUP,2018,10971.0,19801.0,38572.0,2624.0,739.0,48109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW,Actifs_BMW,GROUP,2017,9464.0,18471.0,36257.0,2769.0,690.0,48321.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,VW,Resultats_VW,GROUP,2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9675.0,0.043408,1991.0,11667.0,8824.0,NaN,NaN,NaN
326,VW,Resultats_VW,GROUP,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16960.0,0.067133,1396.0,18356.0,14029.0,NaN,NaN,NaN
327,VW,Resultats_VW,GROUP,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13920.0,0.059021,1723.0,15643.0,12153.0,NaN,NaN,NaN
328,VW,Resultats_VW,GROUP,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13818.0,0.060196,-146.0,13673.0,11463.0,NaN,NaN,NaN
329,VW,Resultats_VW,GROUP,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7103.0,0.032692,189.0,7292.0,5379.0,NaN,NaN,NaN

In [4]:
df1 = df[df['Nom_fichier']=='Actifs_BMW']
display(df1)
df2 = df[df['Nom_fichier']=='actifs_VW']
display(df2)
df3 = df[df['Nom_fichier']=='KPI_Group_by_Annee']
display(df3)
df4 = df[df['Nom_fichier']=='Resultats_VW']
display(df4)

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
0,BMW,Actifs_BMW,GROUP,2021,12980.0,22390.0,44700.0,5112.0,1241.0,51712.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,Actifs_BMW,GROUP,2020,12342.0,21850.0,41995.0,3585.0,735.0,48025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BMW,Actifs_BMW,GROUP,2019,11729.0,23245.0,42609.0,3199.0,703.0,51030.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BMW,Actifs_BMW,GROUP,2018,10971.0,19801.0,38572.0,2624.0,739.0,48109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BMW,Actifs_BMW,GROUP,2017,9464.0,18471.0,36257.0,2769.0,690.0,48321.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,BMW,Actifs_BMW,GROUP,2016,8157.0,17960.0,37789.0,2546.0,560.0,48032.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
25,VW,actifs_VW,GROUP,2021,77689.0,63695.0,59699.0,NaN,615.0,87849.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,VW,actifs_VW,GROUP,2020,67968.0,63884.0,50686.0,NaN,558.0,85432.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,VW,actifs_VW,GROUP,2019,66214.0,66152.0,48938.0,NaN,538.0,89695.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,VW,actifs_VW,GROUP,2018,64613.0,57630.0,43545.0,NaN,496.0,81302.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,VW,actifs_VW,GROUP,2017,63419.0,55243.0,39254.0,NaN,468.0,75501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,VW,actifs_VW,GROUP,2016,62599.0,54033.0,38439.0,NaN,512.0,70411.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
135,BMW,KPI_Group_by_Annee,GROUP,2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,BMW,KPI_Group_by_Annee,GROUP,2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,BMW,KPI_Group_by_Annee,GROUP,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,BMW,KPI_Group_by_Annee,GROUP,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,BMW,KPI_Group_by_Annee,GROUP,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,BMW,KPI_Group_by_Annee,GROUP,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Entreprise,Nom_fichier,Type,Annee,Immobilisations incorporelles,Immobilisations corporelles,Produits loués,Participations comptabilisées,Autres investissements,Créances de financement des ventes,...,modele,unites_vendues,Résultats opérationnels,Marge brute,Résultat financier,Bénéfices avant impôt,Bénéfice net de l'année,vente,Continents,Pays
324,VW,Resultats_VW,GROUP,2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,19275.0,0.077038,851.0,20126.0,15428.0,NaN,NaN,NaN
325,VW,Resultats_VW,GROUP,2020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9675.0,0.043408,1991.0,11667.0,8824.0,NaN,NaN,NaN
326,VW,Resultats_VW,GROUP,2019,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16960.0,0.067133,1396.0,18356.0,14029.0,NaN,NaN,NaN
327,VW,Resultats_VW,GROUP,2018,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13920.0,0.059021,1723.0,15643.0,12153.0,NaN,NaN,NaN
328,VW,Resultats_VW,GROUP,2017,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,13818.0,0.060196,-146.0,13673.0,11463.0,NaN,NaN,NaN
329,VW,Resultats_VW,GROUP,2016,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7103.0,0.032692,189.0,7292.0,5379.0,NaN,NaN,NaN

In [5]:
df_final.loc[df3.index,'Total des actifs']=df_final.iloc[df1.index]['Total des actifs'].values

In [6]:
df_final.loc[df4.index,'Total des actifs']=df_final.iloc[df2.index]['Total des actifs'].values

In [7]:
df_final.to_csv('donnees_combinees.csv',index=False)

In [8]:
df_final.loc[df3.index,'Total des actifs']

135    229527.0
136    216658.0
137    228034.0
138    208980.0
139    195506.0
140    188535.0
Name: Total des actifs, dtype: float64

In [9]:
df_final.loc[df4.index,'Total des actifs']

324    528607.0
325    497116.0
326    488069.0
327    458157.0
328    422194.0
329    409730.0
Name: Total des actifs, dtype: float64

In [10]:
df_final.loc[df4.index,'Total des actifs']

324    528607.0
325    497116.0
326    488069.0
327    458157.0
328    422194.0
329    409730.0
Name: Total des actifs, dtype: float64